/*--------------------GENERAL--------------------*/

body {
  font-family: "Raleway", sans-serif;
  color: #000000;
  margin: 0;
}
#bloc_page {
  position: relative;
  max-width: 1440px;
  margin: auto;
  margin-top: 2px;
}

a {
  text-decoration: none;
  color: #000;
}
li {
  list-style-type: none;
}
/*--------------------TEXT--------------------*/
.blue {
  color: #0065fc;
}
.grey {
  color: #f2f2f2;
}
.white {
  color: #fff;
}
.bold {
  font-weight: bold;
}
.large {
  font-size: large;
}

/*--------------------HEADER--------------------*/
@media not handheld /*(min-width: 992px) */ {
  header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    border: 2px black solid;
  }
  #logo {
    position: absolute;
    left: 10px;
  }
  a {
    padding: 15px 15px 0 15px;
    margin: 0 15px 0 15px;
  }
  nav a:hover {
    border-top: 2px #0065fc solid;
    color: #0065fc;
  }
  #submit {
    margin-right: 60px;
  }
}

@media /*handheld*/ (max-width: 991px) {
  #bloc_page {
    width: 375px;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #logo {
    position: absolute;
    left: 20px;
  }

  nav {
    width: 100%;
    display: flex;
    text-align: center;
  }

  a {
    display: block;
  }
  nav a:hover {
    border-top: none;
    border-bottom: 3px #0065fc solid;
    color: #0065fc;
  }
  nav a {
    width: 50%;
    padding-bottom: 15px;
    border-bottom: 3px solid #f2f2f2;
    margin: 0;
  }
  /*.submit{
       
    
  }*/
}

/*--------------------SEARCH BAR--------------------*/
@media not handheld /*(min-width: 992px) */ {
  #research {
    border: 2px black solid;
  }
  #search_bar {
    height: 50px;
    width: 450px;
    display: flex;
    align-items: center;
  }
  #map_icon,
  #search_city,
  #search_button,
  #search_icon {
    height: 100%;
  }
  #map_icon {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
  }
  #search_city {
    width: 60%;
    box-sizing: border-box;
    border-top: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
  }

  #search_button {
    width: 35%;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0 10px 10px 0;
  }
  #search_icon {
    display: none;
  }
}
@media /*handheld*/ (max-width: 991px) {
  #research {
  }
  #search_bar {
    width: 100%;
    justify-content: center;
  }
  #search_button {
    display: none;
  }
  #search_icon {
    display: initial;
    width: 15%;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 10px 10px 10px 10px;
  }
}
/*--------------------FILTERS--------------------*/

#filters {
  height: 50px;
  width: 950px;
  display: flex;
  justify-content: space-between;
  border: 2px black solid;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
}

.filters_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #deebff;
  height: 50px;
  width: 50px;
}
.filters_name {
  margin: 0 20px 0 10px;
}

/*--------------------RESULTS--------------------*/
/*--------------------HOUSING--------------------*/
/*
#result_housing {
  display: flex;
  justify-content: space-between;
}

#housing_city {
  border-radius: 15px;
  width: 60%;
  background-color: #f2f2f2;
  padding: 2%;
}
#housing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hotel {
  position: relative;
  width: 246px;
  height: 199px;
  margin: 0 0 25px 0;
  border: 5px white solid;
  box-sizing: border-box;
  background: white;
  border-radius: 20px;
}

.hotel img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.hotel_name {
  position: absolute;
  height: 40%;
  bottom: 0%;
  width: 100%;
  background: white;
}
*/
/*--------------------POPULAR--------------------*/
/*
#popular {
  border-radius: 15px;
  width: 30%;
  background-color: #f2f2f2;
}
*/
/*--------------------ACTIVITIES--------------------*/
/*
#result_activities {
  height: 500px;
  width: 1350px;
  border: 2px black solid;
}
*/
/*--------------------FOOTER--------------------*/
/*
footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
}
footer div {
  margin-left: 50px;
}
footer ul {
  padding: 0px;
}
footer ul li {
  margin-top: 10px;
}

@media all and (max-width: 991px) {
  footer {
    flex-direction: column;
  }
}
*/
